body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 576px) {
    max-width: 530px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 980px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.navbarStaticTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  font-size: 12px;
}

.citySelection {
  display: flex;
  color: #898989;
  padding-top: 14px;
  padding-bottom: 13px;
  line-height: 1;

  &__your {
    margin-right: 20px;
  }

  &__chosen {
    color: #010101;
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 19px;
  background-color: #fdfbef;

  &__cabinet {
    margin-left: 9px;
    color: #010101;
  }
}




.footer {
  background-color: #323232;
}